<footer class="text-body-secondary py-5 border-top">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-0">This project is created by NoobSquard. &copy; 2023</p>
  </div>
</footer>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
  integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
