<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Details</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    {% include './common/header.html' %}
    <div class="container">
      <form action="" method="post" class="my-5" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="mb-4">Create a blog</h4>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Enter title"
            name="title"
            max-length="300"
            required
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="description"
            placeholder="Enter description"
            rows="10"
            name="description"
            max-length="3000"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="featured_image" class="form-label">Featured Image</label>
          <input
            type="file"
            class="form-control"
            id="featured_image"
            name="featured_image"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    {% include './common/footer.html' %}
  </body>
</html>
